language: common-lisp

env:
  matrix:
    - LISP=sbcl
    - LISP=ccl
    - LISP=clisp
    - LISP=ecl
    - LISP=abcl

install:
  - curl https://raw.githubusercontent.com/luismbo/cl-travis/master/install.sh | sh;

script:
  - cl -l prove -l cl-slug
       -e '(setf prove:*debug-on-error* t
                 *debugger-hook* (lambda (c h)
                                   (declare (ignore c h))
                                   (uiop:quit -1)))'
       -e '(or (prove:run :cl-slug-test)
               (uiop:quit -1))'
